{% load allauth widget_tweaks %}
{% for field in attrs.form %}
  <div class="mb-3">
    {% if field.field.widget.input_type == "checkbox" %}
      <div class="form-check">
        {% render_field field class="form-check-input" %}
        <label class="form-check-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
      </div>
    {% else %}
      <label class="form-label fw-semibold" for="{{ field.id_for_label }}">{{ field.label }}</label>
      {% render_field field class="form-control" %}
    {% endif %}
    {% if field.help_text %}
      <div class="form-text">{{ field.help_text|safe }}</div>
    {% endif %}
    {% for error in field.errors %}
      <div class="text-danger small">{{ error }}</div>
    {% endfor %}
  </div>
{% endfor %}